{% extends "layout.html" %}

{% block content %}
<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dva</title>
   
    <link rel="stylesheet" type="text/css" href="static/css/OW.css">
    </head>
  
    <br>
    <header><center>
      <div class="container">
        <div class="neon">Twitch </div>
        <div class="neon">Tips </div>
      </div>
      </center>
  <style>

   </style>    
 
            <br>
            <section class="main">
                <section class="articles">
                    <article>
                        <h2></h2>
                        <p>
                        </center> <br>
                        <p style="background: #c128e7; color: #680ea5; font-weight: bold; padding: 15px; border: 2px solid #d43ee7; border-radius: 6px;">Bienvenidos a Twitch tips<br> Esta gran familia de streamers y gamers te estan esperando, unete y obtendras varios beneficios
                        como los siguentes:<br>-Te puedes registrar en nuestra comunidad para hacer nuevos amigos.<br>-Te ayudamos a darte a conocer como streamer.<br>-También podras acceder a algunos consejos que nosotros te podemos dar para que mejores como streamer.</p>
                        
                       </p>
                    </article>
                    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/70t9J8S_GRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                    
                    <article>
                        
                       
                        <p>
                        <br>
                        <p style="background: #c128e7; color: #680ea5; font-weight: bold; padding: 15px; border: 2px solid #d43ee7; border-radius: 6px;">Tips<br>-Planifica tu contenido.<br>-Anuncia tu streaming en tus redes sociales.<br>-La constancia es la clave.<br>-Analiza el rendimiento de tus contenido.<br>-Mantén viva a tu comunidad.<br>-Colabora con otros streamers.<br>-Cuenta con un buen equipo para tus streamings.<br>-Ten un ambiente acojedor en tu stream.</p>                      
                        <br><br>
                        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/qCP8Wqy0HX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>


                    <p style="background: #c128e7; color: #680ea5; font-weight: bold; padding: 15px; border: 2px solid #d43ee7; border-radius: 6px;">Gracias por visitar este sitio humilde, esperemos que te hayan servido nuestros tips y tambien hayas encontrado tu equipo ideal para tu juego favorito.<br>♡ tenkiu ♡</p>
                    <center><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0362cea6-c29f-452c-a852-5d86f3d042dc/dcln99k-f76b3e59-4030-45a2-bcf9-d6aab18ab292.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzAzNjJjZWE2LWMyOWYtNDUyYy1hODUyLTVkODZmM2QwNDJkY1wvZGNsbjk5ay1mNzZiM2U1OS00MDMwLTQ1YTItYmNmOS1kNmFhYjE4YWIyOTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ljM1py956_7BElVuKPqBAB5GGWP1I6cHOmCHHqrnpYA" alt="" width="600" height="350" /><br></center>
                </article>
                </section>
              
                <br>


                ㅤㅤㅤㅤㅤㅤㅤㅤ
                ㅤㅤㅤㅤㅤㅤㅤㅤ
            
            <footer>
                <br>
                <p>
  {%endblock%}
</html>